#PE[14:94:31.300] : BEGIN INSERTION "device #10"
#PE[14:31:01.300] : BEGIN DEVICE_TEST.SUBTEST "check connection"
#PE[14:32:01.600] : END DEVICE_TEST.SUBTEST

#PE[14:34:31.300] : BEGIN INSERTION "device #13"
…
#PE[14:34:33.400] : END INSERTION
#PE[14:34:33.500] : BEGIN DEVICE_TEST
#PE[14:35:01.300] : BEGIN DEVICE_TEST.SUBTEST "check connection"
#PE[14:35:01.600] : END DEVICE_TEST.SUBTEST
#PE[14:35:01.700] : BEGIN DEVICE_TEST.SUBTEST "test digital logic"
#PE[14:35:02.200] : END DEVICE_TEST.SUBTEST
#PE[14:36:01.700] : BEGIN DEVICE_TEST.SUBTEST "measure leakage current"
#PE[14:36:02.200] : END DEVICE_TEST.SUBTEST
#PE[14:36:02.300] : END DEVICE_TEST
…
#PE[14:36:04.200] : BEGIN REMOVAL
…
#PE[14:36:07.100] : END REMOVAL
#PE[14:37:31.300] : BEGIN INSERTION "device #14"
#PE[14:37:33.400] : END INSERTION
#PE[14:37:33.500] : BEGIN DEVICE_TEST
#PE[14:38:01.300] : BEGIN DEVICE_TEST.SUBTEST "check connection"
#PE[14:38:01.600] : END DEVICE_TEST.SUBTEST
#PE[14:38:01.700] : BEGIN DEVICE_TEST.SUBTEST "test digital logic"
#PE[14:38:02.200] : END DEVICE_TEST.SUBTEST
#PE[14:39:02.700] : BEGIN DEVICE_TEST.SUBTEST "measure leakage current"
#PE[14:39:02.900] : END DEVICE_TEST.SUBTEST
#PE[14:39:03.200] : END DEVICE_TEST
…
#PE[14:39:04.200] : BEGIN REMOVAL
…
#PE[14:39:07.100] : END REMOVAL
#PE[14:39:31.300] : BEGIN INSERTION "device #15"
#PE[14:39:33.400] : END INSERTION
#PE[14:39:33.500] : BEGIN DEVICE_TEST
#PE[14:40:01.300] : BEGIN DEVICE_TEST.SUBTEST "check connection"
#PE[14:40:01.600] : END DEVICE_TEST.SUBTEST
#PE[14:40:01.700] : BEGIN DEVICE_TEST.SUBTEST "test digital logic"
#PE[14:40:02.200] : END DEVICE_TEST.SUBTEST
#PE[14:40:02.300] : BEGIN DEVICE_TEST.SUBTEST "measure leakage current"
#PE[14:40:02.700] : END DEVICE_TEST.SUBTEST
#PE[14:40:03.300] : END DEVICE_TEST
…
#PE[14:40:03.200] : BEGIN REMOVAL
#PE[14:40:03.300] : END REMOVAL
…
#PE[14:41:31.300] : BEGIN INSERTION "device #16"
…
#PE[14:41:33.400] : END INSERTION
#PE[14:41:33.500] : BEGIN DEVICE_TEST
#PE[14:42:01.300] : BEGIN DEVICE_TEST.SUBTEST "check connection"
#PE[14:42:01.600] : END DEVICE_TEST.SUBTEST
#PE[14:42:01.700] : BEGIN DEVICE_TEST.SUBTEST "test digital logic"
#PE[14:42:02.200] : END DEVICE_TEST.SUBTEST
#PE[14:42:02.300] : BEGIN DEVICE_TEST.SUBTEST "measure leakage current"
#PE[14:42:03.200] : END DEVICE_TEST.SUBTEST
#PE[14:42:03.300] : END DEVICE_TEST
…
#PE[14:42:04.200] : BEGIN REMOVAL
#PE[14:42:04.300] : END REMOVAL

#PE[14:43:31.300] : BEGIN INSERTION "device #17"
…
#PE[14:43:33.400] : END INSERTION
#PE[14:43:33.500] : BEGIN DEVICE_TEST
#PE[14:44:01.300] : BEGIN DEVICE_TEST.SUBTEST "check connection"
#PE[14:44:01.600] : END DEVICE_TEST.SUBTEST
#PE[14:44:01.700] : BEGIN DEVICE_TEST.SUBTEST "test digital logic"
#PE[14:44:02.200] : END DEVICE_TEST.SUBTEST
#PE[14:44:01.700] : BEGIN DEVICE_TEST.SUBTEST "measure leakage current"
#PE[14:44:02.200] : END DEVICE_TEST.SUBTEST
#PE[14:44:02.300] : END DEVICE_TEST
…
#PE[14:44:04.200] : BEGIN REMOVAL
…
#PE[14:44:07.100] : END REMOVAL

#PE[14:44:31.300] : BEGIN INSERTION "device #18"
…
#PE[14:44:33.400] : END INSERTION
#PE[14:44:33.500] : BEGIN DEVICE_TEST
#PE[14:45:01.100] : BEGIN DEVICE_TEST.SUBTEST "check connection"
#PE[14:45:01.600] : END DEVICE_TEST.SUBTEST
#PE[14:45:01.700] : BEGIN DEVICE_TEST.SUBTEST "test digital logic"
#PE[14:45:02.200] : END DEVICE_TEST.SUBTEST
#PE[14:45:02.300] : BEGIN DEVICE_TEST.SUBTEST "measure leakage current"
#PE[14:45:02.500] : END DEVICE_TEST.SUBTEST
#PE[14:45:02.300] : END DEVICE_TEST
…
#PE[14:45:04.200] : BEGIN REMOVAL
…
#PE[14:45:07.100] : END REMOVAL