<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <!-- Консольный аппендер с ANSI-цветами -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                disableAnsi="false"
                noConsoleNoAnsi="false"
                pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %highlight{%-5level} (%logger{36}) - %msg%n"/>
        </Console>

    </Appenders>

    <Loggers>
        <!-- Корневой логгер -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>